.ttes_table_div {
  height: 25%;
  width: 100%;
  overflow: auto;
}
.ttes_table_div1{
  height: 100%;
  width: 100%;
  overflow: auto;  
}
.ttes_table {
  background-color: #dee4ea;
}
.ttes_table > thead tr > th {
  font-size: 18px;
  vertical-align: middle;
  padding: 2px;
  background-color: brown;
  color: white;
  text-align: center;
  user-select: none;
  font-family: "Trebuchet MS";
}

.ttes_table > tbody > tr > td {
  color: black;
  text-align: center !important;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
  font-family: "Trebuchet MS";
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  padding: 0px 2px !important;
  max-width: 250px;
}

.header-locationName {
  background-color: blueviolet;
  cursor: pointer;
  font-family: Calibri;
}

.image-div {
  width: 100% !important;
  height: 100% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  /* border: 1px solid black; */
  cursor: pointer;
  position: relative;
}

.legend-table {
  border-collapse: collapse !important;
  /* border-spacing: 0; */
  border: 1px solid black;
}

.legend-table tr > *:first-child {
  border-left: none;
  border-right: none;
}

.legend-table tr > *:last-child {
  border-right: none;
}

.legend-table thead tr:first-child th {
  border-top: none;
  border-bottom: none;
}

.legend-table tbody tr td {
  border-top: none;
}

.custom-cascader .ant-select-selection-placeholder, .ant-select-selection-item {
  font-size: 20px !important;
}

.custom-cascader-dropdown .ant-cascader-menu-item {
  font-size: 20px !important;
}

.custom-cascader-dropdown {
  min-width: 360px !important;   /* increase overall tray width */
}

.progress-bar{
  width: 40%
}

.card-style{
  width: 800px;
  height: 800px
}

@media (max-width: 768px) {
  .progress-bar {
    width: 80%;
  }
  .card-style{
  width: 80%;
  height: 80%
}
}


